.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

/*	functionalPanel*/

.functionalPanel {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;

    width: calc(100vw - 2%);
    height: calc(100vh - 2%);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3vw;
    background: linear-gradient(113deg, rgba(111, 111, 111, 0.01) 0%, rgba(255, 255, 255, 0.1) 27.29%, rgba(124, 107, 107, 0.01) 100.01%);
    backdrop-filter: blur(0.5vw); /*По макету 1vw */
}

/*	sidebar*/
.sidebar {
    padding: 5%;
    min-width: 150px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
    width: 0; /* ширина для вертикального скролла */
    height: 1%; /* высота для горизонтального скролла */
    background-color: #143861;
}

.sidebar__logo {
    text-align: center;
    font-family: Inter;
    font-size: calc(18px + 2vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    margin: 4% auto;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.sidebar__list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4%;
    color: rgba(255, 255, 255, 0.6);
    padding: 4%;
    cursor: pointer;
}
.sidebar__list-img {
    width: calc(30px + 1vw);
}

.sidebar__list-paragraph {
    font-family: Inter;
    font-size: calc(16px + 1vw);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sidebar__list_active {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/*  arrowScroll*/
.arrowScroll {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 7%;
    gap: 1.5%;
}
.arrowScroll_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(20px + 2vw);
    height: calc(20px + 2vw);
    border-radius: 50% 50%;

    opacity: 0.4;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border: 0.3px solid #fff;
}

.arrowScroll_arrow_active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}

.arrowScroll_img {
    width: 5vh;
    height: 4vh;
}

/*	informationPanel */
.informationPanel {
    padding: 3.75% 1.75% 1.5%;
    /* min-width: 200px; */
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.informationPanel::-webkit-scrollbar {
    width: 0; /* ширина для вертикального скролла */
}
